.greetingwrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    height:60vh;
    padding:0;
}
.icon {
    font-size:22rem;
    color:var(--text);
}

.content {
    text-align:center;
    margin: auto 0;
    color:var(--text);
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.heading1 {
    font-family:var(--ff-heading);
    font-size:var(--fs-l);
    margin:1.5rem 0;
}
.heading2 {
    margin:1rem 0;
    font-size:var(--fs-600);
}

.content p {
    margin:1rem 0;
    font-size:var(--fs-400);
}

.heading2 {
    font-size:var(--fs-500);
    margin:1rem 0;
}

@media(min-width:750px) {
    .greetingwrapper {
        flex-flow:row nowrap;
        justify-content: space-between;
        align-items:center;
    }
    .icon {
        width:45%;
        font-size:25rem;
    }
    .content {
        width:45%;
        height:100%;
    }
}