.footer {
    display:flex;
    justify-content: center;
    align-items: baseline;
    background:var(--accent3);
    padding:1rem;
    max-height:60px;
    width:100%;
    position:absolute;
    bottom:0;
}
.footer h4 {
    color:var(--accent1);
}
.heart {
    transition: color 200ms;
    font-size:1.2rem;
}
.heart:hover {
    color:rgb(233, 59, 59);
}